# Subject: Data Science Foundation

## Session 13 - Correlation in Python.

### Exercise 1 -  Calculating Correlation in Pandas

We will be using a dataset "Advertising". Calculate the Pearson correlation of sales with TV, radio and newspaper.

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
data = pd.read_csv('http://www-bcf.usc.edu/~gareth/ISL/Advertising.csv', index_col=0)
data.head()

      TV  radio  newspaper  sales
1  230.1   37.8       69.2   22.1
2   44.5   39.3       45.1   10.4
3   17.2   45.9       69.3    9.3
4  151.5   41.3       58.5   18.5
5  180.8   10.8       58.4   12.9

In [7]:
# using pearson model because we have continuous variable

In [2]:
data.corr(method='pearson')

                 TV     radio  newspaper     sales
TV         1.000000  0.054809   0.056648  0.782224
radio      0.054809  1.000000   0.354104  0.576223
newspaper  0.056648  0.354104   1.000000  0.228299
sales      0.782224  0.576223   0.228299  1.000000

In [4]:
data.corr(method='pearson').style.format("{:.2}").background_gradient(cmap=plt.get_cmap('coolwarm'),axis=0)

# Conclusion:

1. TV and Sales have a strong correlation. 
2. Radio and Sales have not too strong correlation. 
3. Newspaper and Sales have very weak correlation. 

For #2 and #3, you have to test the model again (with step-regression (put all values and slowly subtract) or test one by one slowly add)