In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("/Users/racheldyap/Desktop/DataScienceFoundations/Session_1/file_formats/rural_population_data.csv", sep=",")
df.head()

,Continent,ElevationZone,UrbanRuralDesignation,Population1990,Population2000,Population2010,Population2100,LandArea
0,Africa,Elevations > 20m or Non-Contiguous,Rural,333302081,418265923,530184094,1249908321,23749644
1,Africa,Elevations > 20m or Non-Contiguous,Urban,157846329,210381843,266776037,504662423,204719
2,Africa,Elevations Less Than or Equal To 10m,Rural,18167003,22569516,28154645,76368900,172460
3,Africa,Elevations Less Than or Equal To 10m,Urban,22412955,28679117,36746774,94042536,13838
4,Africa,Elevations Less Than or Equal To 12m,Rural,20569411,25576481,31957186,85839163,202456

In [3]:
df.dtypes

Continent                object
ElevationZone            object
UrbanRuralDesignation    object
Population1990            int64
Population2000            int64
Population2010            int64
Population2100            int64
LandArea                  int64
dtype: object

### Check how many rows have UrbanRuralDesignation equal to “Urban”.

In [ ]:
len(df["UrbanRuralDesignation"] == "Urban")

In [ ]:
sum(df['UrbanRuralDesignation'] == 'Urban')

In [ ]:
Count = 0
List = df.loc[:,"UrbanRuralDesignation"]=="Urban"

for item in List:
    if item == True:
        Count += 1

print(Count)

In [ ]:
df.loc[df.loc[:,"UrbanRuralDesignation"]=="Urban"].shape

### Check the existence of NaN values in the DataFrame

In [ ]:
df.isnull()

In [ ]:
df.isnull().sum()

### Find the average population size in the years 2000 and 2010.

In [ ]:
np.mean((df["Population2010"], df["Population2000"]))

In [ ]:
df['Population2000'].mean() + df ['Population2010'].mean()/2