In [5]:
import sqlite3
from sqlite3 import Error

In [6]:
def create_connection(db_file):
    """ 
    Create a database connection to the SQLite database specified by the db_file
    
    :param db_file: database file
    :return: the Connection object or None
    """
    try:
        conn = sqlite3.connect(db_file)
        return conn
    except Error as e:
        print(e)
 
    return None


def select_N_passengers(conn,quantity):
    """
    Query the first N rows in the table "passengers"
    
    :param conn: the Connection object
    :param quantity: integer value representing the number of rows to be retrieved from the table
    :return:
    """
    cur = conn.cursor()
    cur.execute("SELECT * FROM passengers LIMIT ?",(quantity,))
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)
 
 
def select_N_passengers_by_survival(conn, survived,quantity):
    """
    Query the first N wors in the table "passengers" by survival
    
    :param conn: the Connection object
    :param survived: boolean value
    :param quantity: integer value representing the number of rows to be retrieved from the table
    :return:
    """
    cur = conn.cursor()
    cur.execute("SELECT * FROM passengers WHERE Survived=? LIMIT ?", (survived,quantity,))
 
    rows = cur.fetchall()
 
    for row in rows:
        print(row)
 
 
def main():
    # SUBSTITUTE THIS PATH BY THE CORRECT PATH ON YOUR LOCAL FILE SYSTEM
    database = "/Users/racheldyap/Desktop/DataScienceFoundations/Session_3/Titanic.db"
 
    # Create a database connection
    conn = create_connection(database)
    with conn:
        print("1. Query N passengers by survival:")
        select_N_passengers_by_survival(conn,1,10)
 
        print("2. Query N passengers")
        select_N_passengers(conn,10)
    
    # Close the connection with the database
    conn.close()
 
 
if __name__ == '__main__':
    main()

1. Query N passengers by survival:
(2, 1, 1, 'Cumings, Mrs. John Bradley (Florence Briggs Thayer)', 'female', 38.0, 1, 0, 'PC 17599', 71.2833, 'C85', 'C')
(3, 1, 3, 'Heikkinen, Miss. Laina', 'female', 26.0, 0, 0, 'STON/O2. 3101282', 7.925, '', 'S')
(4, 1, 1, 'Futrelle, Mrs. Jacques Heath (Lily May Peel)', 'female', 35.0, 1, 0, '113803', 53.1, 'C123', 'S')
(9, 1, 3, 'Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)', 'female', 27.0, 0, 2, '347742', 11.1333, '', 'S')
(10, 1, 2, 'Nasser, Mrs. Nicholas (Adele Achem)', 'female', 14.0, 1, 0, '237736', 30.0708, '', 'C')
(11, 1, 3, 'Sandstrom, Miss. Marguerite Rut', 'female', 4.0, 1, 1, 'PP 9549', 16.7, 'G6', 'S')
(12, 1, 1, 'Bonnell, Miss. Elizabeth', 'female', 58.0, 0, 0, '113783', 26.55, 'C103', 'S')
(16, 1, 2, 'Hewlett, Mrs. (Mary D Kingcome)', 'female', 55.0, 0, 0, '248706', 16.0, '', 'S')
(18, 1, 2, 'Williams, Mr. Charles Eugene', 'male', '', 0, 0, '244373', 13.0, '', 'S')
(20, 1, 3, 'Masselmani, Mrs. Fatima', 'female', '', 0, 0, '2649', 7.225, '', 'C')
2. Query N passengers
(1, 0, 3, 'Braund, Mr. Owen Harris', 'male', 22.0, 1, 0, 'A/5 21171', 7.25, '', 'S')
(2, 1, 1, 'Cumings, Mrs. John Bradley (Florence Briggs Thayer)', 'female', 38.0, 1, 0, 'PC 17599', 71.2833, 'C85', 'C')
(3, 1, 3, 'Heikkinen, Miss. Laina', 'female', 26.0, 0, 0, 'STON/O2. 3101282', 7.925, '', 'S')
(4, 1, 1, 'Futrelle, Mrs. Jacques Heath (Lily May Peel)', 'female', 35.0, 1, 0, '113803', 53.1, 'C123', 'S')
(5, 0, 3, 'Allen, Mr. William Henry', 'male', 35.0, 0, 0, '373450', 8.05, '', 'S')
(6, 0, 3, 'Moran, Mr. James', 'male', '', 0, 0, '330877', 8.4583, '', 'Q')
(7, 0, 1, 'McCarthy, Mr. Timothy J', 'male', 54.0, 0, 0, '17463', 51.8625, 'E46', 'S')
(8, 0, 3, 'Palsson, Master. Gosta Leonard', 'male', 2.0, 3, 1, '349909', 21.075, '', 'S')
(9, 1, 3, 'Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)', 'female', 27.0, 0, 2, '347742', 11.1333, '', 'S')
(10, 1, 2, 'Nasser, Mrs. Nicholas (Adele Achem)', 'female', 14.0, 1, 0, '237736', 30.0708, '', 'C')